node_modules
.sass-cache
.git
.idea
/docs
#/scripts

*.log*

.editorconfig
.eslintignore
.eslintrc
.gitignore
.npmignore
.travis.yml
gulpfile.babel.js
webpack.common.js
webpack.dev.js
webpack.prod.js
bower.json
ISSUE_TEMPLATE.md
