.ck-check {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ck-check-inline {
  display: inline-block;
}

.ck-check-label {
  margin-left: .2rem;
}

.ck-check-icon {
  font-size: 1rem;
  color: #666666;
  //background-color: #ffffff;
}

.ck-check-disabled {
  .ck-check-icon {
    //background-color: #dee2e6;
    color: #dee2e6;
  }
}