.ck-input-calendar-icon {
  right: .5rem;
  bottom: .5rem;
  position: absolute;
}

.ck-input-calendar-icon-sm {
  bottom: .25rem!important;
}

.ck-input-calendar-icon-lg {
  bottom: .8rem!important;
}

.ck-input-calendar {
  position: relative;
  width: 100% !important;
}

.ck-input {
  width: 100%!important;
}

.ck-input-icon {
  padding-right: 30px;
}