.ck-modal-shadow {
  opacity: 1;
  background-color: rgba(0,0,0,.5);
}

.ck-modal-shadow-fade {
  transition: visibility 150ms linear,opacity 150ms linear;
}

.ck-modal-shadow-close {
  opacity: 0;
  transition: visibility 150ms linear 200ms,opacity 150ms linear 200ms;
}

.ck-model-blur {
  filter: blur(1px);
}

.ck-modal-footer {

}

.ck-modal-close-an {
  opacity: 0;
  transform: translateY(-30px);
  transition: visibility 150ms linear,opacity 150ms linear,transform 150ms linear;
}

.ck-modal-fade {
  transition: visibility 150ms linear 100ms,opacity 150ms linear 100ms,transform 150ms linear 100ms;
}

.ck-modal-empty {
  --bs-modal-bg: transparent!important;
  --bs-modal-border-color: transparent!important;
}

//.ck-modal-fade {
//  .modal-dialog {
//    opacity: 0;
//    margin-top: -1rem;
//    transition: margin-top 150ms linear,opacity 150ms linear;
//  }
//
//  .ck-modal-shadow {
//    opacity: 0;
//    transition: opacity 150ms linear;
//  }
//
//  .modal-show {
//    opacity: .5!important;
//  }
//}