.ck-switch{
  width: 58px;
  height: 32px;
  border-radius: 19px;
  padding: 3px;
  background-color: #e9ecef;
  transition: background-color 200ms;
  cursor: pointer;
}

.ck-switch-lg {
  width: 70px!important;
  height: 38px!important;
  border-radius: 19px!important;
}

.ck-switch-sm {
  width: 46px!important;
  height: 26px!important;
  border-radius: 19px!important;
}

.ck-switch-circle{
  height: 26px;
  width: 26px;
  background-color: #F0F0F0;
  box-shadow: 1px 1px 5px  #333;
  margin-left: 0;
  transition: margin-left 200ms;
}

.ck-switch-circle-lg {
  height: 32px!important;
  width: 32px!important;
}

.ck-switch-circle-sm {
  height: 20px!important;
  width: 20px!important;
}

.ck-switch-circle-right {
  margin-left: 26px;
}

.ck-switch-circle-right-lg {
  margin-left: 32px;
}

.ck-switch-circle-right-sm {
  margin-left: 20px;
}

.ck-switch-disable {
  opacity: .35;
}