.ck-switch{
  width: 68px;
  height: 36px;
  border-radius: 19px;
  padding: 2px;
  background-color: #e9ecef;
  transition: background-color 200ms;
  cursor: pointer;
}

.ck-switch-sm {
  width: 56px!important;
  height: 30px!important;
  border-radius: 19px!important;
}

.ck-switch-xs {
  width: 44px!important;
  height: 24px!important;
  border-radius: 19px!important;
}

.ck-switch-circle{
  height: 32px;
  width: 32px;
  background-color: #F0F0F0;
  box-shadow: 1px 1px 5px #333;
  margin-left: 0;
  transition: margin-left 200ms;
}

.ck-switch-circle-sm {
  height: 26px!important;
  width: 26px!important;
}

.ck-switch-circle-xs {
  height: 20px!important;
  width: 20px!important;
}

.ck-switch-circle-right {
  margin-left: 32px;
}

.ck-switch-circle-right-sm {
  margin-left: 26px;
}

.ck-switch-circle-right-xs {
  margin-left: 20px;
}