.ck-table {
  margin-bottom: 0 !important;
  table {
    table-layout: fixed;
  }
  th,td {
    vertical-align: middle!important;
    font-size: .9rem;
  }

  .table-tree-row {
    td {
      padding:0
    }
  }

  .column-split {
    float: right;
    display: inline-block;
    width: 5px;
    height: 20px;
    cursor: pointer;
    background-color: red;
  }

  .click-row {
    cursor: pointer;
    user-select: none;
    &:first-child td {
      border-top: none;
    }
  }

  .header {

  }
}

.ck-table-main {

}

.table-font-sm {
  td,th {
    font-size: .75rem!important;
  }
}

.ck-table-scroll {
  overflow: auto;
}

.ck-table-scroll-width {
  overflow-x: auto;
}

.ck-table-scroll-height {
  overflow-y: auto;
}

.ck-table-refresh-btn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ck-table-selected {
  background-color: #e5f0ff!important;
}