textarea {
  resize:none;
}

.ck-text-area {
  position: relative;
  .html {
    &::before {
      color: #999999;
      content: 'HTML';
      position: absolute;
      right: 5px;
      bottom: 0;
      font-size: .7rem;
    }
  }
}

.ck-text-area-xs {
  font-size: .8rem;
  padding: 0 .2rem !important;
}