.ck-tree {
  padding: .5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 250px;
  position: relative;
}

.ck-tree-item {
  position: relative;
  .active {
    color: #ffffff;
    background-color: #17a2b8;
  }
}

.ck-tree-content {
  padding: .2rem 0;
  cursor: pointer;
  &:hover {
    //color: #17a2b8;
    text-decoration: underline;
  }
  .chk {
    width: 24px;
    text-align: center;
  }
}


.ck-tree-icon {
  //text-align: center;
  display: block;
  width: 20px;
  i {
    transform:rotate(0deg);
    transition:transform 300ms;
  }
}

.ck-tree-icon-down {
  transform:rotate(90deg)!important;
}

.ck-tree-children {
  //display: none;
  //transition: height 300ms;
  //height: 0;
  position: relative;
  overflow: hidden;
}

.ck-tree-item-text {

}

.ck-tree-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20px;
  .path-line {
    fill: transparent;
    stroke: #999;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    //stroke-dasharray: 1 3;
  }
}