.calendar-v2-main {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    user-select: none;
    padding: 5px;
    min-width: 180px;
    .lg {
        font-size: 1.2rem;
        &.year {
            top: 58px;
        }
    }
    .sm {
        font-size: .8rem;
        &.year {
            top: 45px;
        }
    }
    .year {
        display: inline-grid;
        grid-template-columns: repeat(3,1fr);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 50px;
        background-color: white;
        overflow-y: auto;
        text-align: center;
        .item {
            cursor: pointer;
            padding: .3rem 0;
            align-content: center;
            &:hover {
                background-color: var(--bs-primary);
                color: var(--bs-white);
            }
        }
        .active {
            background-color: var(--bs-primary);
            color: var(--bs-white);
        }
    }

    .timer {
        grid-column: 1/8;
        display: inline-grid;
        grid-template-columns: repeat(5,1fr);
        width: 100%;
        align-items: center;
        border-top: 1px solid #ccc;
        padding-top: .5rem;
        padding-bottom: .25rem;
        .time {
            grid-column: 1/4;
        }
        .time-btn {
            grid-column: 4/6
        }
    }

    .c-btn {
        cursor: pointer;
        &:hover {
            background-color: var(--bs-primary);
            color: var(--bs-white);
        }
    }
}

.calendar-v2 {
    display: inline-grid;
    grid-template-columns: repeat(7,1fr);
    justify-items: center;
    overflow: hidden;
    color: #333;
    align-content: center;
    .item {
        width: 100%;
        height: 100%;
        padding: .2rem .3rem;
        // min-width: 30px;
        // min-height: 30px;
        // border: 1px solid rgba(0, 0, 0, .1);
        text-align: center;
    }
    .title {
        color: #666;
        width: 100%;
        height: 100%;
        padding: .2rem .3rem;
        // min-width: 30px;
        // min-height: 30px;
        text-align: center;
        user-select: none;
        font-weight: bold;
    }
    .header {
        grid-column: 2 / 7;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #ccc;
    }
    .active {
        background-color: var(--bs-primary);
        color: var(--bs-white);
        border-radius: 50%;
    }
    .head-btn {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-pr {
        grid-column: 1;
    }
    .btn-nx {
        grid-column: 7/8;
    }
}